// compileCompressed: ../css/style.css

@import 'variables';
@import 'home';
@import 'header';
@import 'profile';



@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../font/Roboto/Roboto-Light/Roboto-Light.woff') format('woff'), url('../font/Roboto/Roboto-Light/Roboto-Light.ttf')  format('truetype'), url('../font/Roboto/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/Roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../font/Roboto/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), url('../font/Roboto/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: $font-normal;
}

a:hover{
  text-decoration: none;
}

// Helpers

.full-screen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.font-regular{
  font-family: 'Roboto-Light';
}

.font-light{
  font-family: 'Roboto-Light';
}

// ui elements

.ui-form-group{
  padding: 10px 0;
  label{
    color: $color-text
  }
  input{
    outline: 0;
  }
}

.ui-button{
  font-family: 'Roboto-Light';
  background-color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 5px;
  color: $color-text-light;
  padding: 5px;
  font-size: $font-normal;
  transition: .2s ease;
  &:hover{
    opacity: .8;
    cursor: pointer;
  }
  &--danger{
    background-color: $color-danger;
    border-color: $color-danger;
  }
}

.page-title{
  font-family: 'Roboto-Light';
  font-size: $font-large;
  text-align: center;
  padding: 20px 0;
}

// ---------------------------
