@import "variables";

.profile-board{
  background-color: $color-semi-light;
  margin-top: 55px;
  margin-bottom: 55px;
  border: 1px solid $color-border;
  border-radius: 5px;

  &__avatar{
    text-align: center;
    margin: 20px 0 50px 0;
    &--add{
      margin: 40px 0 70px 0;
      a{
        padding: 40px 45px;
        border-radius: 50%;
        background: $color-border;
        color: $color-text;
        transition: .2s ease;
        &:hover{
          opacity: .8;
        }
      }
    }
    img{
      width: 150px;
      height: 150px;
      border: 1px solid transparent;
      border-radius: 50%;
    }
  }
}
.profile__group{
  display: flex;
  align-items: center;
  margin: 20px 0;
  .profile__caption{
    width: 20%;
    font-weight: 600;
    margin-right: 20px;
  }
  .ui-form-group{
    width: 80%;
  }
  .profile__data{
    width: 80%;
    &--big{
      font-size: $font-medium;
    }
    &--textarea{
      text-align: justify;
    }
  }


}
.profile__buttons{
  display: flex;
  justify-content: space-between;
  .ui-button{
    font-size: $font-medium;
    width: 45%;
    margin: 20px 0 40px 0;
  }
}

.profile__date-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    margin-right: 40px;
    span{
      display: block;
      text-align: left;
    }
    .ui-form-group{
      width: 100px;
    }
  }
}
