$color-light: #fafafa;
$color-semi-light: #ECECEC;
$color-accent: #10CB56;
$color-accent-extra: #1779BA;
$color-danger: #CC4B37;
$color-border: #CACACA;

$color-text: #707070;
$color-text-light: #fff;
$color-text-dark: #000;

// fonts
$font-x-large: 55px;
$font-large: 35px;
$font-medium: 25px;
$font-normal: 15px;
$font-small: 10px;
